<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Summernote</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:src="@{/js/jquery-1.11.3.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <link th:href="@{/dist/summernote.css}" rel="stylesheet">
    <script th:src="@{/dist/summernote.js}"></script>
    <script type="text/javascript" th:src="@{/dist/lang/summernote-zh-CN.js}"></script>
</head>
<body>
<div class="mcy_body">
    <div id="home">
        <ul class="breadcrumb">
            <li><span class="glyphicon glyphicon-home"></span>&emsp;当前位置：</li>
            <li class="active">留言	</li>
        </ul>
    </div>
</div>
        <center>
        <div id="summernote" class="summernote"></div>

            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-2">
                    <button type="button" class="btn btn-primary" onclick="send()">发布</button>
                    <button type="button" class="btn btn-primary" onclick="return_index()">返回</button>
                </div>
            </div>
        </center>
<script>
    $(function() {
        $('.summernote').summernote({
            width:'50%',
            height: '200px',
            tabsize : 2,
            lang : 'zh-CN',
            // 图片上传
            callbacks : {
                // summernote提供的API：onImageUpload
                onImageUpload : function(files) {

                    var formData = new FormData();
                    formData.append("file", files[0]);
                    $.ajax({
                        url : 'upload', //后台文件上传接口
                        type : 'POST',
                        data : formData,
                        processData : false,//告诉jQuery不要加工数据
                        contentType : false,//告诉jQuery,在request head里不要设置Content-Type
                        success : function(data) {
                            $("#summernote").summernote('insertImage', data, 'img');
                        },
                        error : function() {
                            alert("上传失败")
                        }
                    })
                },
                onPaste: function (ne) {
                    var bufferText = ((ne.originalEvent || ne).clipboardData || window.clipboardData).getData('Text/plain');
                    ne.preventDefault ? ne.preventDefault() : (ne.returnValue = false);
                    setTimeout(function () {
                        document.execCommand("insertText", false, bufferText);
                    }, 10);
                }
            }
        });
        $(".note-insert button:nth-child(3)").remove();
        $(".note-view button:nth-child(1)").remove();
    });
    //返回
    function return_index(){
        $("#main").load("user/index");
    }
    //提交
    function send(){
        var summernote = $('#summernote').summernote('code');	//获取编辑器里边的内容
        summernote = ""+summernote+"";
        console.log(summernote);
        var title = $("#blog_title").val();
        var textType = $("#blog_textType").val();
        var classify = $("#blog_classify").val();
        var id = $("#blog_id").val();
        if(title == null || title == ""){
            layui.use('layer', function(){
                layer.msg("请输入标题");
            })
        }else{
            $.post("blog/save", {title: title, text: summernote, textType:textType, classify: classify, blogStatic: str, id: id}, function(data){
                if(data.success){
                    if(str == '草稿'){
                        bootbox.alert("保存成功！");
                        $("#main").load("blog/edit");
                    }else{
                        bootbox.confirm({
                            buttons : {
                                confirm : {
                                    label : '查看发布文章',
                                    className : 'btn-myStyle'
                                },
                                cancel : {
                                    label : '在写一篇',
                                    className : 'btn-default'
                                }
                            },
                            message : '发布成功',
                            callback : function(result) {
                                if (result) {
                                    $("#main").load("blog/edit");
                                    window.open("blog/visit?id="+data.msg);
                                } else {
                                    $("#main").load("blog/edit");
                                }
                            }
                        });
                    }
                } else {
                    bootbox.alert("数据保存失败");
                }
            });
        }
    }
</script>
</body>
</html>
