<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxxy.hospital.financial.mapper.StatementsMapper">
<!--    查询所有-->
    <select id="findAll" resultType="java.util.LinkedHashMap">
        select * from statements
    </select>

<!--    查询类型-->
    <select id="findByType" parameterType="String" resultType="java.util.LinkedHashMap">
        select * from statements where statements=#{type}
    </select>
<!--    查询所有的收入-->
    <select id="findByRevenue" resultType="java.util.LinkedHashMap">
        select * from statements where statements_state=1
    </select>
<!--    查询所有的支出-->
    <select id="findByPay" resultType="java.util.LinkedHashMap">
        select * from statements where statements_state=0
    </select>
<!--    添加财务数据-->
    <insert id="add">
        insert into statements values (null,#{num},#{name},#{deptName},#{type},#{event},#{time},#{state},#{money})
    </insert>
</mapper>