<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxxy.hospital.financial.mapper.StatementsMapper">
<!--    查询所有-->
    <select id="findAll" resultType="java.util.LinkedHashMap">
        select * from statements ORDER BY statements_time DESC
    </select>

<!--    查询类型-->
    <select id="findByType" parameterType="String" resultType="java.util.LinkedHashMap">
        select * from statements where statements=#{type}
    </select>
<!--    查询某天的收入-->
    <select id="findRevenueByDate" parameterType="String" resultType="double">
        select * from statements where statements_state=1 and statements_time like CONCAT('%',#{time},'%')
    </select>
<!--    查询某天的支出-->
    <select id="findPayByDate" parameterType="String" resultType="double">
        select * from statements where statements_state=0 and statements_time like CONCAT('%',#{time},'%')
    </select>
<!--    id查询-->
    <select id="findById" parameterType="int" resultType="java.util.LinkedHashMap">
        select * from statements where statements_id=#{id}
    </select>
<!--    添加财务数据-->
    <insert id="add">
        insert into statements values (null,#{num},#{name},#{deptName},#{type},#{event},#{time},#{state},#{money})
    </insert>
</mapper>