<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxxy.hospital.financial.mapper.TreatmentMapper">

<!--  查询某个时间病人资费 -->
    <select id="treatment" parameterType="String" resultType="java.util.LinkedHashMap">
        select * from  bill_info where bill_date like CONCAT('%',#{time},'%')
    </select>
<!--    查看某个时间消耗品的进货-->
    <select id="consumable" parameterType="String" resultType="java.util.LinkedHashMap">
        select * from  stock_consum where stock_time like CONCAT('%',#{time},'%')
    </select>
</mapper>